@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --cor-de-fundo:#D2E0FB;
    --texto-principal: #FEF9D9;
    --texto-secundario: #DEE5D4;
}